<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-6">
        <div class="card mt-5">

            <img src='https://images.unsplash.com/photo-1598776454302-94acd47baaa8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80'
                alt='image'>
        </div>
        <div class=" card mt-5">
            <div class="m-5">
                <h3>Rule of Invasion: Madheart</h3>
                <hr />
                <p>Leave a Review</p>

                <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)" ngNativeValidate>
                    <div class="">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Full Name"
                            name="fullName" ngModel required />
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label"></label>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email"
                            name="email" ngModel required />
                    </div>

                    <select class="form-select" aria-label="Default select example" name="rating" ngModel required>
                        <option value="" disabled selected>Rating</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label"></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Review"
                            name="review" ngModel required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>