<div class="row justify-content-center">
    <div class="col-sm-12 col-md-10 col-lg-10">
        <div class="card mt-5">
            <div class="d-flex">
                <div class="card  col-6">

                    <img src='https://wallpapercave.com/wp/wp7535753.jpg'>
                </div>
                <div class="card  col-6">
                    <img src='https://wallpapercave.com/wp/wp4751246.jpg' alt='image'>
                </div>
            </div>

            <img src='https://wallpapercave.com/wp/wp2940639.jpg' alt='image'>
        </div>
        <div class="d-flex">
            <div class="card  col-6">

                <img src='https://wallpapercave.com/wp/wp5409785.jpg'>
            </div>
            <div class="card  col-6">
                <img src='https://wallpapercave.com/wp/wp5314990.jpg' alt='image'>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-10 col-lg-6">
        <div class=" card mt-5">
            <div class="m-5">
                <h3>Rule of Invasion: Madheart</h3>
                <hr />
                <p>Leave a Review</p>

                <form #reviewForm="ngForm" (ngSubmit)="getValues(reviewForm.value)" ngNativeValidate>
                    <div class="form-group">
                        <label for="fullName" class="form-label"></label>
                        <input type="text" class="form-control" id="fullName" placeholder="Full Name" name="fullName"
                            ngModel required />
                    </div>
                    <div class="form-group mb-3">
                        <label for="email" class="form-label"></label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" ngModel
                            required />
                    </div>
                    <div class="form-group">

                        <select class="form-select" aria-label="Default select example" name="rating" ngModel required>
                            <option value="" disabled selected>Rating</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>
                    </div>
                    <div class="from-group mb-3">
                        <label for="review" class="form-label"></label>
                        <textarea class="form-control" id="review" rows="3" placeholder="Review" name="review" ngModel
                            required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>